$colorWhite: #fff;
$colorBlack: #3E3E3E;
$weight700: 700;
$weight600: 600;
$weight400: 400;

@mixin weightColor {
    font-weight: $weight700;
    color: $colorWhite
}
@mixin weight600Color {
    font-weight: $weight600;
    color: $colorWhite
}
@mixin weight400Color {
    font-weight: $weight400;
    color: $colorWhite
}
@mixin button() {
    .redButton{
        color: #fff;
        font-size: 20px;
        background-color: #F44;
        padding: 13px 10px;
        font-weight: $weight700;
        @content;
        &:hover {
            color: #000;
            font-size: 20px;
            background-color: #fff;
            padding: 13px 10px;
            font-weight: $weight700;
            @content;                
        }
    }
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
}
.header {
    background: url(../img/header.png) no-repeat;
    background-size: 100% 100%;
    padding: 200px 0;
    .row {
        max-width: 1200px;
        margin: auto;
    }
    .headerCol {
        padding: 0;
        h1 {
            font-size: 64px;
            @include weightColor;
        }
        p {
            @include weight400Color;
            font-size: 22px;
        }
        @include button;
    }
    &:not(.headerCol) {
        .itemImg {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }
        .item {
            @include weight600Color;
            font-size: 22px;
            margin: 0;
            margin-left: 20px;
        }
        @include button;
    }
}
.sectionFluid {
    max-width: 1200px;
    .sectionCol {
        h2 {
            text-align: center;
            font-weight: $weight700;
            font-size: 42px;
            text-transform: uppercase;
            color: $colorBlack;
        }

    }
}
.article {
    max-width: 1200px;
    margin:auto;
    .list {
        list-style: none;
        padding: 0;
        .liList {
            display: flex;
            align-items: center;
            height: 75px;
            margin-bottom: 20px;
            background: #FFF;
            box-shadow: 2px 4px 20px rgb(0 0 0 / 30%);
            border-radius: 5px;
        }
        img {
            width: 45px;
            margin: 0 50px;
        }
        p {
            font-weight: $weight400;
            font-size: 20px;
            color: $colorBlack;
            margin: 0;
        }
    }
    .forms {
        h6 {
            font-size: 26px;
            color: #000;
            font-weight: $weight600;
        }
        .formBtn {
            background-color: #F44;
            color: #fff;
            width: 100%;
            &:hover {
            background-color: rgb(254, 24, 24);
            color: #fff;
            width: 100%;
            }
        }
    }
}
.articleRow2 {
    max-width: 1200px;
    margin: auto;
    h2 {
        font-size: 30px;
        font-weight: 600;
        color: $colorBlack;
    }
    p {
        font-size: 17px;
        font-weight:$weight400;
        color: $colorBlack;
        line-height: 22px;
    }
    .articleCol2 {
        display: flex;
        justify-content:space-between;
        
        .item {
            width: 32%;
            text-align: center;
            &:nth-child(1) {
                background: #FFF;
                box-shadow: 0px 0px 10px rgb(68 188 255 / 70%);
                border: none;
                border-radius: 5px;
                p {
                    color: #44A5FF;
                    margin: 0;
                    padding: 10px 0;
                }
                                
            }
            &:nth-child(2) {
                background: #FFF;
                box-shadow: 0px 0px 10px rgb(255 68 68 / 70%);
                border: none;
                border-radius: 5px;
                p {
                    color: #F44;
                    margin: 0;
                    padding: 10px 0;
                } 
              
            }
            &:nth-child(3) {
                background: #FFF;
                box-shadow: 0px 0px 10px rgb(255 248 68 / 70%);
                border: none;
                border-radius: 5px;  
                p {
                    color: #eada45;
                    margin: 0;
                    padding: 10px 0;
                }              
            }
            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 51px;
            }
        }
    }
    .articleCol3 {
        background: #FFF;
        box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
        border-radius: 5px;
        .item {
            h5 {
                font-size: 30px;
                font-weight: $weight600;
                color: $colorBlack;
            }
            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                color: #3E3E3E;
            }
            @include button(){
                &:hover {
                    background-color: rgb(254, 24, 24);
                    color: #fff;
                }
            }
        }
    }
    .articleCol4 {
        p {
            font-size: 20px;
            line-height: 30px;
            color: $colorBlack;
            text-align: center;
            padding: 0;
        }
    }
}
.article3 {
    .container-fluid {
        background-color: #f3f3f3;
        .article3Row {
            max-width: 1200px;
            margin: auto;
            .article3Col {
                text-align: center;
                h2 {
                    font-weight: $weight700;
                    font-size: 42px;
                    line-height: 109.69%;
                    text-transform: uppercase;
                    color: $colorBlack;
                }
            }
            .article3Box {
                padding: 0;
                display: flex;
                justify-content: space-between;;
                flex-wrap: wrap;
                .item {
                    width: calc(25% - 10px);
                    margin-right: 10px;
                    &:nth-child(#{4}n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .header {
        background-size: cover;
        background-position: 59% 0px;
        padding: 0;
        .headerCol{
            h1 {
                font-size: 50px;
            }
            p {
                margin-bottom: 40px;
            }
        }
        :not(.headerCol) {
            .itemImg {
                flex-direction: column;
            }
            img {
                margin-bottom: 20px;
            }
        }

    } 
}

@media (max-width: 768px) {
    .sectionFluid {
        .sectionCol {
            h2 {
                font-size: 34px;
            }
        }
    }
    .article3 {
        .container-fluid {
            .article3Row {
                .article3Col {
                    h2 {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        .headerCol{
            h1 {
                font-size: 33px;
            }
            p {
                font-size: 18px;
                margin-top: 20px;
            }
        }
    }
    .sectionFluid {
        .sectionCol {
            h2 {
                font-size: 25px;
            }
        }
    }
    .article {
        .list {
            img {
                margin: 0 30px;
            }
            p {
                font-size: 18px;
            }
        }
        .forms {
            h6 {
                font-size: 22px;
            }
        }
    }
    .articleRow2 {
        h2 {
            font-size: 23px;
        }
        p {
            font-size: 14px;
        }
    }
    .articleRow2 {
        .articleCol4 {
            p {
                font-size: 16px;
            }
        }
    }
   
}
