body {
  margin: auto;
  padding: 0;
  font: 15px Helvetica, Arial, sans-serif;
  max-width: 1920px;
  min-width: 360px;
  color: #7a7a7a;
}

.header {
  background: url(../img/header.png) no-repeat;
  background-size: 100% 100%;
  padding: 200px 0;
}
.header .row {
  max-width: 1200px;
  margin: auto;
}
.header .headerCol {
  padding: 0;
}
.header .headerCol h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
.header .headerCol p {
  font-weight: 400;
  color: #fff;
  font-size: 22px;
}
.header .headerCol .redButton {
  color: #fff;
  font-size: 20px;
  background-color: #F44;
  padding: 13px 10px;
  font-weight: 700;
}
.header .headerCol .redButton:hover {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  padding: 13px 10px;
  font-weight: 700;
}
.header:not(.headerCol) .itemImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.header:not(.headerCol) .item {
  font-weight: 600;
  color: #fff;
  font-size: 22px;
  margin: 0;
  margin-left: 20px;
}
.header:not(.headerCol) .redButton {
  color: #fff;
  font-size: 20px;
  background-color: #F44;
  padding: 13px 10px;
  font-weight: 700;
}
.header:not(.headerCol) .redButton:hover {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  padding: 13px 10px;
  font-weight: 700;
}

.sectionFluid {
  max-width: 1200px;
}
.sectionFluid .sectionCol h2 {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  color: #3E3E3E;
}

.article {
  max-width: 1200px;
  margin: auto;
}
.article .list {
  list-style: none;
  padding: 0;
}
.article .list .liList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  margin-bottom: 20px;
  background: #FFF;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.article .list img {
  width: 45px;
  margin: 0 50px;
}
.article .list p {
  font-weight: 400;
  font-size: 20px;
  color: #3E3E3E;
  margin: 0;
}
.article .forms h6 {
  font-size: 26px;
  color: #000;
  font-weight: 600;
}
.article .forms .formBtn {
  background-color: #F44;
  color: #fff;
  width: 100%;
}
.article .forms .formBtn:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
  width: 100%;
}

.articleRow2 {
  max-width: 1200px;
  margin: auto;
}
.articleRow2 h2 {
  font-size: 30px;
  font-weight: 600;
  color: #3E3E3E;
}
.articleRow2 p {
  font-size: 17px;
  font-weight: 400;
  color: #3E3E3E;
  line-height: 22px;
}
.articleRow2 .articleCol2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articleRow2 .articleCol2 .item {
  width: 32%;
  text-align: center;
}
.articleRow2 .articleCol2 .item:nth-child(1) {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(68, 188, 255, 0.7);
          box-shadow: 0px 0px 10px rgba(68, 188, 255, 0.7);
  border: none;
  border-radius: 5px;
}
.articleRow2 .articleCol2 .item:nth-child(1) p {
  color: #44A5FF;
  margin: 0;
  padding: 10px 0;
}
.articleRow2 .articleCol2 .item:nth-child(2) {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 68, 68, 0.7);
          box-shadow: 0px 0px 10px rgba(255, 68, 68, 0.7);
  border: none;
  border-radius: 5px;
}
.articleRow2 .articleCol2 .item:nth-child(2) p {
  color: #F44;
  margin: 0;
  padding: 10px 0;
}
.articleRow2 .articleCol2 .item:nth-child(3) {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 248, 68, 0.7);
          box-shadow: 0px 0px 10px rgba(255, 248, 68, 0.7);
  border: none;
  border-radius: 5px;
}
.articleRow2 .articleCol2 .item:nth-child(3) p {
  color: #eada45;
  margin: 0;
  padding: 10px 0;
}
.articleRow2 .articleCol2 .item p {
  font-weight: 400;
  font-size: 22px;
  line-height: 51px;
}
.articleRow2 .articleCol3 {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articleRow2 .articleCol3 .item {
  width: 50%;
}
.articleRow2 .articleCol3 .item h5 {
  font-size: 30px;
  font-weight: 600;
  color: #3E3E3E;
}
.articleRow2 .articleCol3 .item p {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #3E3E3E;
}
.articleRow2 .articleCol3 .item .redButton {
  color: #fff;
  font-size: 20px;
  background-color: #F44;
  padding: 13px 10px;
  font-weight: 700;
}
.articleRow2 .articleCol3 .item .redButton:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
}
.articleRow2 .articleCol3 .item .redButton:hover {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  padding: 13px 10px;
  font-weight: 700;
}
.articleRow2 .articleCol3 .item .redButton:hover:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
}
.articleRow2 .articleCol3 .item img {
  max-width: 400px;
}
.articleRow2 .articleCol4 p {
  font-size: 20px;
  line-height: 30px;
  color: #3E3E3E;
  text-align: center;
  padding: 0;
}

.article3 .container-fluid {
  background-color: #f3f3f3;
}
.article3 .container-fluid .article3Row {
  max-width: 1200px;
  margin: auto;
}
.article3 .container-fluid .article3Row .article3Col {
  text-align: center;
}
.article3 .container-fluid .article3Row .article3Col h2 {
  font-weight: 700;
  font-size: clamp(35px, 4vw, 45px);
  line-height: 109.69%;
  text-transform: uppercase;
  color: #3E3E3E;
}
.article3 .container-fluid .article3Row .article3Box {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.article3 .container-fluid .article3Row .article3Box .item {
  width: calc(25% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.article3 .container-fluid .article3Row .article3Box .item:nth-child(4n) {
  margin-right: 0;
}
.article3 .container-fluid .article3Row .article3Box .item img {
  width: 100%;
  height: 170px;
}
.article3 .container-fluid .article3Row .article3Box .item h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 109.69%;
  color: #3E3E3E;
}
.article3 .container-fluid .article3Row .article3Box .item .itemTxt {
  padding: 20px 15px;
}
.article3 .container-fluid .article3Row .article3Box .item p {
  font-weight: 400;
  font-size: 17px;
  line-height: 124%;
  color: #3e3e3e;
  opacity: 0.6;
}
.article3 .container-fluid .article3Row .article3Box .item:nth-child(1) {
  background-size: cover;
}

.article4 .row {
  max-width: 1200px;
  margin: auto;
}
.article4 .box4 {
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article4 .box4 p {
  font-weight: 400;
  font-size: 22px;
  line-height: 109.69%;
  color: #3E3E3E;
  margin: 0;
}
.article4 .box4 p span {
  font-weight: 600;
}
.article4 .box4 .ml {
  margin-left: auto;
  margin-right: 8%;
}
.article4 .box4 .redButton {
  color: #fff;
  font-size: 20px;
  background-color: #F44;
  padding: 13px 10px;
  font-weight: 700;
}
.article4 .box4 .redButton:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
}
.article4 .box4 .redButton:hover {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  padding: 13px 10px;
  font-weight: 700;
}
.article4 .box4 .redButton:hover:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
}

.article5 .row {
  max-width: 1920px;
  margin: auto;
}
.article5 .article5Col {
  background-color: #f3f3f3;
}
.article5 .article5Col h2 {
  font-weight: 700;
  font-size: clamp(32px, 5vw, 42px);
  line-height: 109.69%;
  text-transform: uppercase;
  color: #3E3E3E;
  text-align: center;
}
.article5 .article5Col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}
.article5 .article5Col1 img {
  max-width: 40%;
}
.article5 .article5Col1 .item {
  margin-left: 70px;
}
.article5 .article5Col1 .item h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 109.69%;
  color: #3E3E3E;
}
.article5 .article5Col1 .item .opacity {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #3E3E3E;
  opacity: 0.6;
}
.article5 .article5Col1 .item ul {
  padding: 0;
}
.article5 .article5Col1 .item ul li {
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  color: #3E3E3E;
  list-style: none;
}
.article5 .article5Col1 .item ul li::before {
  content: url(../img/bookmark-check-fill.svg);
  margin-right: 10px;
}
.article5 .article5Col1 .item p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #3E3E3E;
}
.article5 .article5Col1 .item .gift::before {
  content: url(../img/gift-fill.svg);
  margin-right: 10px;
  position: relative;
  top: 5px;
  left: 0;
}
.article5 .article5Col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  max-width: 1200px;
  margin: auto;
}
.article5 .article5Col2 .h3P h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 109.69%;
  color: #3E3E3E;
}
.article5 .article5Col2 .h3P p {
  font-size: 22px;
  line-height: 27px;
}
.article5 .article5Col2 .redButton {
  color: #fff;
  font-size: 20px;
  background-color: #F44;
  padding: 13px 10px;
  font-weight: 700;
}
.article5 .article5Col2 .redButton:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
}
.article5 .article5Col2 .redButton:hover {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  padding: 13px 10px;
  font-weight: 700;
}
.article5 .article5Col2 .redButton:hover:hover {
  background-color: rgb(254, 24, 24);
  color: #fff;
}
.article5 .article5Col3 {
  padding: 0;
}
.article5 .article5Col3 h2 {
  font-weight: 700;
  font-size: clamp(32px, 4vw, 42px);
  line-height: 109.69%;
  text-align: center;
  text-transform: uppercase;
  color: #3E3E3E;
}
.article5 .article5Col3 p {
  font-weight: 400;
  font-size: clamp(17px, 2vw, 22px);
  line-height: 33px;
  color: #3E3E3E;
  text-align: center;
}
.article5 .itemsBox {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.article5 .itemsBox .item {
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc(25% - 20px);
}
.article5 .itemsBox .item:nth-child(4n) {
  margin-right: 0;
}
.article5 .itemsBox .item img {
  max-width: 100%;
}

.footer .container-fluid .col-12 {
  background-color: #000;
  font-weight: 900;
}

@media (max-width: 992px) {
  .header {
    background-size: cover;
    background-position: 59% 0px;
    padding: 0;
  }
  .header .headerCol h1 {
    font-size: 50px;
  }
  .header .headerCol p {
    margin-bottom: 40px;
  }
  .header :not(.headerCol) .itemImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header :not(.headerCol) img {
    margin-bottom: 20px;
  }

  .articleRow2 .articleCol3 .item {
    width: 100%;
  }
  .articleRow2 .articleCol3 .item .wrapeButton {
    margin: auto;
  }

  .article3 .container-fluid .article3Row .article3Box .item {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .article3 .container-fluid .article3Row .article3Box .item:nth-child(2n) {
    margin-right: 0;
  }
  .article3 .container-fluid .article3Row .article3Box .item img {
    height: 300px;
  }

  .article5 .article5Col2 .h3P h3 {
    font-size: 23px;
  }
  .article5 .article5Col2 .h3P p {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .sectionFluid .sectionCol h2 {
    font-size: 34px;
  }

  .article4 .box4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article4 .box4 .ml {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .article4 .box4 p {
    font-size: 17px;
    line-height: 30px;
  }

  .article5 .article5Col1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
  .article5 .article5Col1 img {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .article5 .article5Col1 .item {
    margin-left: 0px;
  }

  .article5 .article5Col2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .article5 .article5Col2 .h3P h3 {
    font-size: 20px;
  }

  .article5 .article5Col2 .h3P p {
    font-size: 15px;
  }

  .article5 .article5Col1 .item .opacity {
    font-size: 19px;
  }

  .article5 .itemsBox .item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
  }
  .article5 .itemsBox .item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (max-width: 576px) {
  .header .headerCol h1 {
    font-size: 33px;
  }
  .header .headerCol p {
    font-size: 18px;
    margin-top: 20px;
  }

  .sectionFluid .sectionCol h2 {
    font-size: 25px;
  }

  .article .list img {
    margin: 0 30px;
  }
  .article .list p {
    font-size: 18px;
  }
  .article .forms h6 {
    font-size: 22px;
  }

  .articleRow2 h2 {
    font-size: 23px;
  }
  .articleRow2 p {
    font-size: 14px;
  }

  .articleRow2 .articleCol4 p {
    font-size: 16px;
  }

  .articleRow2 .articleCol3 .item img {
    max-width: 100%;
  }

  .article3 .container-fluid .article3Row .article3Box .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .article3 .container-fluid .article3Row .article3Box .item img {
    height: 300px;
  }

  .article5 .itemsBox .item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
  }
  .article5 .itemsBox .item:nth-child(1n) {
    margin-right: 0px;
  }
}